.header {
    background-color: aquamarine;
}

.state-label {
    font-size: .8rem;
    background-color: rgb(228, 114, 39);
    color: white;
    font-weight: medium;
}

.state-label.completed {
    background-color: rgb(0, 121, 74);
}

.state-label.backlog {
    background-color: rgb(8, 0, 121);
}